.row{
    display:flex;
    width: auto;
    height: 200px;
    background-color: aquamarine;
}


.col {
    flex:1;
    padding: 20px;
    margin: 10px;
    background-color: brown;
}


.col-2{
    flex:2;
    padding:20px;
    margin:10px;
    background-color: blueviolet;
}

.col-3{
    flex:3;
    padding:20px;
    margin:10px;
    background-color:blue;
}


