* {
    margin:0;
    padding: 0;
    box-sizing: none ;
}




body {
    display: flex;
    justify-content: center;
}

.profile {
    width: 500px;
    border: 5px lightgray solid;
}


.highlight{
    /* height:100px; */
    background-color: teal;
}

#jane{
    position: relative;
    width:100px;
    border-radius: 50%;
    border: 2px solid gray;
    top: 50px;
    left: 50px;
    padding: 2px;
    background-color: white;

}

.profileIcon{
    display: flex;
    align-items: center;
}

.info {
    padding-left:50px;
    padding-top: 50px;

}

.info *{
    padding-bottom: 10px;
}

.info img{
    padding-right:10px;
}

/*
h2, h3, p{
    margin: 0;
}

*/



.map, .gear {
    height: 20px;
}