body {
    background-color: white;
}

#search {
    border: 2px solid teal;
    color: teal;
    padding: 10px 60px;
    border-radius: 50px;
    margin-top: 30;
    margin: 0 20px;
    

}

#plus {
    background-color: teal;
    color: white;
    border-radius: 50%;
    padding:7.5px 10px 7.5px 10px;
    border: 2px solid teal;
    margin: 0 20px;
    margin-top: 10px
}

#account {
    margin-top: 10px;
    background-color:blue;
    color: white;
    padding: 10px 60px; 
    box-shadow: 10px 5px 5px black;
    margin: 20px;


}



