/*

To fix:
decrease space betweem nav bar links

Focus on space betwwen sign out and find connections 
Extra border work on Jane profile pic


make container for seattle and map a flex container and align items center
or use line height 

change font for google font: balsamic sands

*/

* {
    margin: 0;
    padding:0;
    font-family: Balsamiq Sans;
}

/* Nav BAR 
change class to id, a, and leftNav can be given as child 
*/
#nav {
    /* height: 100px; */
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;  
    padding: 10px 0px;
}

#nav div {
    /* width:450px; */
    margin-right:auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding-left: 150px;
    /* What should I do if the browser shrinks horizontally too much, should i make a 
    margin-right?*/
}

h1 {
    color: white;
    display: inline-block;
}

#nav button{
    /* flex:1; */
    margin-right: 150px;
    background-color: teal;
    color: white;
    padding: 5px 20px;
    border: 1px solid black;

}

#nav a{
    text-decoration: none;
    color: white;
}

#nav a:hover{
    color:teal;
}


/*    LAYOUT 
be specific for class and id 
*/ 
.layout{
    display:flex;
}


.largeColumn{
    flex:2;
    margin-left:150px;
}

.smallC{
    flex:1;
    margin-right:150px;
}
.profile, .education {
    margin-bottom:30px;
    margin-right:15px;
}

.requests, .connections {
    margin-bottom: 30px;
    margin-left:15px;
}


/* Profile 
add image to highlight div and use relative position

don't use br for spacing use margin, flex prop, etc
use img and span for <p> no h3 for text decoration
NO IMG AND <a> needs span since they are inline elements 

*/

.profile {
    
    height: 350px;
    border: 5px lightgray solid;
}


.highlight{
    /* height:100px; */
    background-color: teal;
}

#jane{
    position: relative;
    width:100px;
    border-radius: 50%;
    border: 2px solid gray;
    top: 50px;
    left: 50px;
    padding: 2px;
    background-color: white;

}

.info {
    padding-left:50px;
    padding-top: 50px;
    
    
}

.info *{
    padding-bottom: 10px;
}

.info h3 {
    background-color: blue;
    display: flex;
    align-items: center;
}

.map, .gear {
    height: 15px;
}



/* Education

apply sectionHeader elements to info
*/
.education {
    /* height: 200px; */
    border: 5px lightgray solid;
}

.sectionHeader{
    /* height:50px; */
    color: white;
    background-color: rgb(100, 100, 90);
    display:flex;
    align-items: center;
    padding: 10px 40px;

}


.resume {
    padding: 10px 40px;
}


/* requests */

.requests {
    border: 5px lightgray solid;
    background-color: white;

}

.rightHeader {
    color:white;
    background-color: rgb(100, 100, 90);
    display:flex;
    align-items: center;
    margin-bottom:10px;
}

.num {
    background-color: gray;
    color:black;
    padding: 5px 10px;
    border-radius: 50%;
    margin:10px;
    
}


.pp {
    width: 40px;
    border-radius:50%;
    border: 2px solid black;
    padding: 2px;
    margin-right: 3px;
}

.icon {
    width: 30px;
    float: right;
    margin: 5px;
}

.requester1 {
    display:flex;
    align-items: center;
}

.requester {
    display:flex;
    align-items: center;
    flex:1;
    margin:10px;
}

.requester2 {
    flex:1;
}


/* Connections */


.connections {
    border: 5px lightgray solid;
    background-color: white;
}

.notif {
    border-bottom: 5px lightgray solid;
}

#view {
    padding: 10px;
    font-size: medium;
    align-items: center;
}



