#container {
    width: 960px;
    background-color: grey;
    overflow:hidden;
}


#box1, #box2, #box3 {
    background-color: aquamarine;
    height: 200px;
    width: 200px;
    border: 1px solid black;
    margin: 0 20px;
    padding: 20px;
}

#box1, #box2, #box3{
    float: right;
}